{% extends 'base.html.twig' %}

{% block title %}Add{% endblock %}

{% block body %}
<div class="container">
{{ form_start(form, {'attr':{'class':'col-8'}}) }}

    {{form_row(form.name)}}
    {{form_row(form.lastname)}}
    {{form_widget(form.contact) }}

     <div class="col-sm-8 col-sm-offset-2" id="addr_id" data-prototype="{{ form_widget(form.addr.vars.prototype)|e('html_attr') }}">
        {% for row in form.addr %}
                <div class="card">
                    <div class="card-header">
                        <strong>Address</strong>
                    </div>
                    <div class="card-body">
                        {{ form_row(row) }}
                    </div>
                </div>
            {% endfor %}
     </div>
    {{form_row(form.userType)}}	
    {{form_row(form.gender)}}
    {{form_row(form.hobbie)}}

{{ form_end(form) }}

<script type="text/javascript">
var $collectionHolder;

var $addNewItem = $('<a href="#" class="btn btn-info m-3">Add new item</a>');

$(document).ready(function () {

    $collectionHolder = $('#addr_id');

    $collectionHolder.append($addNewItem);

    $collectionHolder.data('index', $collectionHolder.find('.card').length)

    $collectionHolder.find('.card').each(function () {

        addRemoveButton($(this));
    });

    $addNewItem.click(function (e) {

        e.preventDefault();

            addNewForm();
    })
});


function addNewForm() {

    var prototype = $collectionHolder.data('prototype');

    var index = $collectionHolder.data('index');

    var newForm = prototype;

    newForm = newForm.replace(/__name__/g, index);

    $collectionHolder.data('index', index+1);

    var $card = $('<div class="card m-3"><div class="card-header">Address</div></div>');

    var $cardBody = $('<div class="card-body"></div>').append(newForm);

    $card.append($cardBody);

    addRemoveButton($card);

    $addNewItem.before($card);
}

function addRemoveButton ($card) {

    var $removeButton = $('<a href="#" class="btn btn-danger">Remove</a>');

    var $cardFooter = $('<div class="card-footer"></div>').append($removeButton);

    $removeButton.click(function (e) {
        e.preventDefault();

        $(e.target).parents('.card').slideUp(500, function () {
            $(this).remove();
        })
    });

    $card.append($cardFooter);
}
</script>
</div>
{% endblock body %}