{% extends 'base.html.twig' %}

{% block title %}Add{% endblock %}

{% block body %}
<div class="container">		
{{ form_start(form) }}

    {{form_row(form.name)}}
    {{form_row(form.lastname)}}
    {{form_row(form.contact)}}

     <div class="col-sm-8 col-sm-offset-2" id="addr_id" data-prototype="{{ form_widget(form.addr.vars.prototype)|e('html_attr') }}">
            {% for row in form.addr %}
              <div class="panel panel-warning">
                    <div class="panel-body">
                        {{ form_row(row) }}
                    </div>
                </div>
            {% endfor %}
        </div>

    {{form_row(form.userType)}}
    {{form_row(form.gender)}}
    {{form_row(form.hobbie)}}

{{ form_end(form) }}

<script type="text/javascript">


var $collectionHolder;

var $addNewItem = $('<a href="#" class="btn btn-info">Add new item</a>');

$(document).ready(function () {

    $collectionHolder = $('#addr_id');

    $collectionHolder.append($addNewItem);

    $collectionHolder.data('index', $collectionHolder.find('.panel').length)

    $collectionHolder.find('.panel').each(function () {

        addRemoveButton($(this));
    });

    $addNewItem.click(function (e) {

        e.preventDefault();

        addNewForm();
    })
});


function addNewForm() {

    var prototype = $collectionHolder.data('prototype');

    var index = $collectionHolder.data('index');

    var newForm = prototype;

    newForm = newForm.replace(/__name__/g, index);

    $collectionHolder.data('index', index+1);

    var $panel = $('<div class="panel panel-warning"><div class="panel-heading"></div></div>');

    var $panelBody = $('<div class="panel-body"></div>').append(newForm);

    $panel.append($panelBody);

    addRemoveButton($panel);

    $addNewItem.before($panel);
}

function addRemoveButton ($panel) {

    var $removeButton = $('<a href="#" class="btn btn-danger">Remove</a>');

    var $panelFooter = $('<div class="panel-footer"></div>').append($removeButton);

    $removeButton.click(function (e) {
        e.preventDefault();

        $(e.target).parents('.panel').slideUp(500, function () {
            $(this).remove();
        })
    });

    $panel.append($panelFooter);
}
</script>
</div>
{% endblock body %}