{% extends 'base.html.twig' %}

{% block title %}Form{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ path('newCrud.index')}}">CRUD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{path('newCrud.new')}}">Create New</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('newCrud.category')}}">Add category</a>
      </li>
    </ul>
  </div>
</nav>
{% set i = 1 %}

{% if i == 1 %}
    {% for message in  app.flashes('info')%}
            <div class="alert alert-success">
                {{ message }}
                {% set i = 0 %}
            </div>
    {% endfor %}
{% endif %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  	{% for post in posts %}
    <tr>
      <th>{{loop.index}}</th>
      <th>{{post.title}}</th>
      <th>{{post.description}}</th>
      <th>{{post.category.name}}<br>{{post.category.slug}}</th>
      <th>
      <a href="{{ path('newCrud.edit', {id: post.id}) }}"><button type="button" class="btn btn-success">Edit</button></a>
      <a href="{{ path('newCrud.delete', {id: post.id}) }}"><button type="button" class="btn btn-danger">Delete</button></a>
      </th>
    </tr>
	{% endfor %}
  </tbody>
</table>
{% endblock body %}